html {
  scroll-behavior: smooth;
}

body {
  font-size: 14px;
  line-height: 1.3334;
  color: #fff;
  background: #fff;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 36px;
}
h2 {
  font-size: 28px;
  font-weight: 700;
  color: #00A1E1;
}
h3 {
  font-size: 20px;
}

p {
  margin: 0 0 10px;
  line-height: 1.3;
}

ul {
  padding: 0 15px;
}

.red {
  color: red;
}


#nav{ 
  width: 100%;
  background: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  -webkit-box-shadow: 0px 2px 17px -4px rgba(0,0,0,0.8);
  -moz-box-shadow: 0px 2px 17px -4px rgba(0,0,0,0.8);
  box-shadow: 0px 2px 17px -4px rgba(0,0,0,0.8);
  z-index: 99;
  .nav-logo {
    display: inline-block;
    img {
      text-align: center;
    }
  }
  ul.nav-menu {
    height: 100%; 
    display: inline-block;
    margin-bottom: 0;
    padding: 0;
    @media only screen and (max-width: 767px) {
      display: none !important;
    }
    li {
      margin-right: 50px;
      display: inline-block;
      list-style: none;
      display: table-cell;
      position: relative;
      padding: 20px 0px;
      &:last-child {
        margin-right: 0;
      }
      a {
        color: #00A1E1;
        font-weight: 400;
        text-decoration: none;
        display: inline-block;
        padding: 0px 15px 0px 15px;
        position: relative;
        font-size: 14px;
        transition: ease-in .3s, ease-out .3s;
        &:hover {
          color: #4ecdff;
        }
      }
    }
  }
  .nav-searchbar {
    height: 100%;
    float: right; 
    display: inline-block;
    margin-bottom: 0;
    padding: 0;
    @media only screen and (max-width: 767px) {
    display: none !important;
    }
      #form1 {
        border-radius: .25rem 0 0 .25rem;
      }
        .btn{
          border-radius: 0 .25rem .25rem 0 ;
          background-color: #00A1E1;
          color: #fff;
          &:hover {
            background-color: #4ecdff;
          }
        }
  }
}

#header {
  padding-top: 73px;
  .header-inner {
    
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.7;
    position: relative;
    padding: 120px 0;
    &:before {
      content: '';
      background: rgba(255, 0, 0, 0.3);
      height: 23rem;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 89;
      position: absolute;
    }
    .header-content {
      .header-text {
        z-index: 999;
      }
      button {
        background: red;
        border-color: red;
        color: #fff;
        border-radius: 50px;
        padding: 5px 15px;
        &:focus {
          outline: none;
        }
      }
    }
  }
}
.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: 0.1s ease-in-out left;
  -moz-transition: 0.1s ease-in-out left;
  -o-transition: 0.1s ease-in-out left;
  transition: 0.1s ease-in-out left;
}
.carousel-inner {
  height: 560px;
  .carousel-item {
    background: #777;
    img {
      margin: 0 auto;
    }
  }
}
.carousel-control-prev, .carousel-control-next {
  display: none;
  }

#card-body {
  padding: 2rem;

  #arrow-buttons {
  height: 40px;
  background-color: #00A1E1;
  color: #fff;
  &:hover {
    color: #4ecdff;
  }
  }
.card {
  padding: 0px 20px 0 20px;
  border: none;
  }

.card-img-top {
  background-color: #E6302B;
}

#black-text {
  color: #11131a;
  background-color: #f0f0f0b9;
}
}

//Agenda
ul {
  list-style: none;
}
.card {
  background: white;
  width: 100%;
  max-width: 40rem;
  margin: 5rem auto;
  box-shadow: 0 1rem 2.5rem rgb(204, 204, 204);
  &__header {
      padding: 1.25rem;
      color: grey;
      display: flex;
      justify-content: space-between;
      align-items: center;
      h3 {
        margin-bottom: 0;
      }
  }
  &__body {
      padding: 1.5rem 2rem;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      &--days {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 4rem;

          li {
              flex: 1;
              font-weight: bold;
              text-transform: uppercase;
              text-align: center;
              color: grey;
              margin: 0 1px;
          }
      }
      &--dates {
          display: grid;
          gap: 3px;
          grid-template-columns: repeat(7, 1fr);
          justify-items: center;
          text-align: center;
          li {
              color: #000;
              width: 3.5rem;
              height: 3.5rem;
              display: grid;
              place-items: center;
              font-weight: bold;
              position: relative;
          }
          li.prev,
          li.next {
              color: #ccc;
          }
          li.active {
              background: #00A1E1;
              color: white;
              border-radius: 50px;
          }
          li.circle {
              border: 2px solid;
              border-radius: 50px;
              span {
                  position: absolute;
                  top: -0.75rem;
                  right: -0.5rem;
                  width: 1.75rem;
                  height: 1.75rem;
                  font-size: 1.2rem;
                  color: white;
                  border-radius: 50px;
              }
          }
          .circle.orange {
              border-color: #00A1E1;
              span {
                  background: #00A1E1;
              }
          }
          // .circle.purple {
          //     border-color: purple;
          //     span {
          //         background: purple;
          //     }
          // }
      }
  }
  &__footer {
      @extend .card__header;
      color: black;
      font-weight: bold;
      .add {
          text-decoration: none;
          color: inherit;
          border: 2px solid #00A1E1;
          border-radius: 50px;
          width: 3.5rem;
          height: 3.5rem;
          padding-top: 0.25rem;
          display: grid;
          place-items: center;
      }
  }
}

#agenda-modal {
  h2 {
    margin-bottom: 10px;
    color: #00A1E1;
  }
  label {
    color: #000;
  }
  
  .modal-type {
    padding-top: 10px;
  }
  .modal-person {
    padding-top: 10px;
    input {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  .modal-time {
    padding: 10px 0;
    input {
      width: 100%;
      margin-bottom: 10px;
    }
    .modal-time-box {
      display: inline-block;
      p {
        color: #000;
        margin-bottom: 10px;
      }
      input {
        width: 40%;
      }
    }
  }
  .btn {
    background: #00A1E1;
    color: #fff;
  }
  .modal-footer {
    button {
      color: #000;
      background: #fff;
      &:focus {
        outline: none; 
        box-shadow: none;
      }
    }
  }
}

#footer {
  background: #11131a;
  padding: 8px 0px;
  p {
    font-size: 12px;
    color: #d2d2d2;
    margin: 0;
  }
}