.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.sectie {
    // padding-top: 45px;
    // padding-bottom: 45px;
}

.text-center {
    text-align: center;
}

.d-block {
    display: block;
}

.p-rev {
    position: relative;
}

.p-abs {
    position: absolute;
}

.fl-l {
    float: left !important;
}

.fl-r {
    float: right !important;
}